.title {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  margin-top: 2rem;
  padding: 1rem 0;
}

.tableHeadCell {
  background-color: var(--tabler-header);
}

.tableBody {
  background-color: var(--table-body);
}

.tablePagination {
  background-color: var(--tabler-header);
}

.tableRow a {
  text-decoration-color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.timeCell {
  font-size: 0.8rem;
  font-weight: lighter;
}

.transactionIdCell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1rem;
  align-items: center;
  color: var(--text-color);
}

.transactionIdCell p {
  margin: 0 0.4rem;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.transactionIdCell p::after {
  margin: 0 0.4rem;
  content: "↗";
  display: inline-block;
  margin: 0 0.4rem;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.transactionIdCell a:hover p {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.transactionIdCell a:hover p::after {
  visibility: visible;
  transition: all 0.2s ease-in-out;
}

.chainName,
.amount {
  font-size: 0.8rem;
  font-weight: lighter;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

p.fee {
  margin-left: 0;
  margin-right: 0.4rem;
}

.chainName p:last-of-type,
.amount p:last-of-type {
  margin: 0 0.4rem;
}

.hasCellGap > * {
  margin-bottom: 0.4rem;
}
